/* header section */
header {
	padding: 0 2rem;
	height: 122px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--background-color);
}
header img {
	width: 150px;
}

nav {
	display: flex;
	align-items: center;
}

nav a {
	margin: 30px 10px;
	padding: 10px 20px;
	text-align: center;
	font-size: 1.5em;
	color: var(--text-on-light);
	font-family: var(--heading-font);
	border-radius: 1rem;
}

nav a:hover {
	text-decoration: underline;
}

nav a:focus {
	background-color: var(--text-on-light);
	color: white;
	text-decoration: none;
}

h1 {
	text-align: center;
}

.hamburger {
	color: var(--text-on-light);
	cursor: pointer;
}

header .hamburger {
	/* Specifically putting this in a more "specific" qselector so that the .fa class stylings from FontAwesome don't override it sometimes */
	display: none;
}

.hide {
	display: none;
}

@media screen and (max-width: 1000px) {
	header img {
		width: 125px;
	}

	header {
		position: relative;
	}

	nav {
		position: absolute;
		top: 122px;
		left: 0;
		width: 100%;
		display: flex;
		flex-direction: column;
		z-index: 999;
		background-color: var(--background-color);

		/* hidden state */
		opacity: 0;
		transform: translateY(-10px);
		visibility: hidden;
		pointer-events: none;

		transition:
			opacity 0.25s ease,
			transform 0.25s ease,
			visibility 0.25s ease;
	}

	nav a {
		padding: 0.8rem 3rem;
		font-size: 1.25rem;
	}

	nav a:hover {
		background-color: var(--text-on-light);
		color: white;
		transition: 0.3s ease;
	}

	.hamburger {
		display: block;
	}

	nav.show {
		opacity: 1;
		transform: translateY(0);
		visibility: visible;
		pointer-events: auto;
	}
}
