/* FAQ Page */
.faq-main {
	color: white;
	font-weight: 600;
	display: flex;
	flex-direction: column;
}

.faq-header {
	text-align: center;
	font-size: 3rem;
	line-height: 1;
	margin-block: calc(0.25rem * 5);
}

#faq-questions {
	max-width: calc(7 / 10 * 100%);
	min-width: calc(7 / 10 * 100%);
	margin-block: calc(0.25rem * 5);
	margin-inline: auto;
	min-height: 100%;
}

/* Questions */
.faq-detail {
	border-bottom: 1px solid lightgray;
	max-height: 100%;
	overflow: hidden;
}

.faq-detail a {
	padding: 0;
	text-decoration: underline;
}

.faq-detail summary {
	display: flex;
	padding: calc(0.25rem * 4);
	cursor: pointer;
	justify-content: space-between;

	&:hover {
		color: lightgray;
	}
}

.faq-detail div {
	margin: calc(0.25rem * 5);
}

.faq-filters {
	display: flex;
	flex-direction: column;
	gap: calc(0.25rem * 5);
	align-items: center;
	margin-inline: auto;
}

.faq-filters ul {
	display: flex;
	list-style: none;
	flex-direction: column;
	align-items: center;
	gap: calc(0.25rem * 4);
}

.filter {
	font-size: 1.125rem;
	line-height: calc(1.75 * 1.125rem);
	text-align: center;
	padding-block: calc(0.25rem * 2);
	padding-inline: calc(0.25rem * 3);
}

.faq-div {
	background-color: lightgray;
	min-width: calc(0.25rem * 50);
	min-height: calc(0.25rem * 0.5);
}

.faq-button {
	border-style: none;
	padding-block: calc(0.25rem * 2);
	padding-inline: calc(0.25rem * 3);
	background-color: #16a34a;
	color: white;
	border-radius: 9999px;
	min-width: calc(0.25rem * 30);
	font-weight: 600;
	/*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/

	&:hover {
		background-color: #22c55e;
	}
}

.active {
	background-color: #1c6d3a;
}

@media screen and (min-width: 800px) {
	.faq-filters {
		flex-direction: row;
	}

	.faq-filters ul {
		flex-direction: row;
	}

	.faq-div {
		min-width: calc(0.25rem * 0.5);
		min-height: calc(0.25rem * 5);
	}
}
