body {
	width: auto;
	background-color: #0498d5;
}

#main-column {
	background-color: antiquewhite;
	width: auto;
}

#gallery-box {
	margin: auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(min(322.8px, 100%), 1fr));
	gap: 4rem;
	width: 80%;
	padding-bottom: 20px;
}

.gallery-photo {
	width: 100%;
	height: auto;
	border: 5px solid black;
	padding: 0px;
}

h1 {
	padding: 20px 20px 0 20px;
}
